@font-face {
  font-display: swap;
  font-family: Broken Console;
  font-style: normal;
  font-weight: 700;
  src: url('./font/broken-console-broken-console-bold-700.woff') format('woff');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0 0 2em;
  padding-bottom: 2.8em;
  background-color: rgb(48, 48, 48);
}

#title {
  font-family: Broken Console, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: rgb(242, 98, 31);
  text-shadow: 0.08em 0.08em rgb(119, 59, 191);
}

#color-palette , #title {
  text-align: center;
  font-family: Broken Console, sans-serif;
}

button , input {
  margin: auto;
  display: block;
  font-family: Broken Console, sans-serif;
  font-weight: 700;
  color: black;
  background-color: rgb(105, 101, 112);
  padding: 0.4em;
}

#generate-board {
  display: inline-block;
  margin-left: 1em;
  margin-bottom: 0.7em;
}

#board-size {
  display: inline-block;
  width: 3.4em;
}

button:active {
  transform: scale(0.98);
}

.color {
  display: inline-block;
  border: 0.126em solid black;
  padding: 1.4em;
  margin: 0.5em 0.2em;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 3px 6px, rgba(0, 0, 0, 0.23) 1px 3px 6px;
}

.color:active {
  transform: scale(0.95);
}

.color:hover {
  border: 0.126em solid rgba(0, 0, 0, 0.4);
}

.selected {
  border: 0.126em solid white;
}

label {
  font-family: Broken Console, sans-serif;
  font-weight: 700;
  text-shadow: 0.08em 0.08em rgb(105, 101, 112);
  padding: 0.4em;
}

#board-section { /* Requisito 6 */
  text-align: center;
  padding: 1.4em;
}

#pixel-board {
  padding-top: 0.5em;
  display: inline-grid;
}

.pixel { /* Requisito 7 */
  border: 1px solid black;
  width: 1.9em;
  height: 1.9em;
}

.pixel:active {
  transform: scale(0.92);
}

.pixel:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

footer {
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

nav {
  margin-top: 1em;
}

img {
  width: 2em;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

img:hover {
  transform: scale(1.1);
}

footer p {
  font-family: Broken Console, sans-serif;
  font-weight: 700;
  text-shadow: 0.09em 0.09em rgb(105, 101, 112);
  margin: 1px;
}
